.hero {
  border-radius: 0;
  margin-top: -130px;
  min-height: 610px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: #111;
  background: url("../../media/bars.svg") 100% / contain no-repeat #ededed;
}

.hero-container {
  width: 100%;
  padding: 100px 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content {
  flex-grow: 1;
  padding: 100px 0;
  margin: auto;
  text-align: center;
  justify-content: center;
  h1 {
    text-align: left;
    font-weight: 900;
    max-width: 650px;
    font-size: 50px;
    letter-spacing: -4px;
    margin-bottom: 2.25rem;
  }
  p {
    text-align: left;
    margin-bottom: 2rem;
  }
  .marks {
    color:#e53333;
  }
}

.row {
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 575.98px) {
  .hero {
    background: #f5f5f5;
  }
}

@media (min-width: 1025px) {
  .hero-container {
    flex-flow: row;
  }
}

@media screen and (min-width: 1140px) {
  .hero-container {
    width: 1080px;
    padding: 0;
  }
}