.nav-item {
  box-sizing: border-box;
}

.active-menu-item {
  position: relative;
  border-bottom: 2px solid #e53333;
}

.menu-item {
  position: relative;
}

.menu-item:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  right: 0;
  background: #e53333;
  transition: width .2s ease-in;
}

.menu-item:hover:after{
  width: 100%;
  left: 0;
  background: #e53333;
}
